.component-container{

    width: 100%;
    height:100%;
    position: relative;
}

.banner{
    position:relative;
    display: block;
    width: 100%;
    height: 80vh;
    z-index: -1;
    overflow: hidden;
}